body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#pokedex {
    min-height: 50vh;
    background-color: #ff3131;
    color: white;
    display: flex;
    padding: 24px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
}

.jc-center {
    display: flex;
    justify-content: center;
}

#pokemonImage {
    margin-top: -245px;
    width: 200px;
}